.deps/
.libs/
*.gcno
*.o
*.la
*.lo
*.log
*.trs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/coverage.info
/coverage/
/libtool
/m4/
/stamp-h1
/test/test-greeter
